:root {
	--background-position: bottom left;
	--bar-bg: #002b49;
	--bar-fg: #8f8f8f;
	--border-brightcolor: rgba(255,255,255,.8);
	--border-darkcolor: rgba(0,0,0,.25);
	--brand-logo: url(../graphics/openwrt-logo-default.svg);
	--button-edit-bg: #fc0;
	--button-edit-fg: #000;
	--button-neutral-bg: #0d9ee1;
	--button-neutral-fg: #fff;
	--button-positive-bg: #05a70a;
	--button-positive-fg: #fff;
	--button-reset-bg: #e1820d;
	--button-reset-fg: #fff;
	--button-important-bg: #df4c4c;
	--button-important-fg: #fff;
	--container-bgcolor: rgba(255,255,255,.5);
	--container-fg: #424242;
	--content-shadowcolor: rgba(0,0,0,.25);
	--danger-bg: #CC1111;
	--danger-fg: #fff;
	--dropdown-default-bg: #000;
	--dropdown-default-fg: #fff;
	--dropdown-focus-bg: var(--button-neutral-bg);
	--dropdown-focus-fg: var(--button-neutral-fg);
	--dropdown-selected-bg: var(--button-positive-bg);
	--dropdown-selected-fg: var(--button-positive-fg);
	--header-bgcolor: #00A3E1;
	--header-fg: #00A;
	--main-bg: #8ea4e3;
	--main-fg: #021922;
	--menu-bg: #00AAEE;
	--menu-fg: #002250;
	--menu-hover-fg: #4cf;
	--outline1: .1rem solid #ccc;
	--outline2: .5rem solid #ccc;
	--section-bgcolor: rgba(255,255,255,.25);
	--success-color: #5CB85C;
	--table-head-bg: #00a3e1;
	--table-head-fg: #fff;
	--table-rows-bgcolor1: #ebebeb;
	--table-rows-bgcolor2: rgba(255,255,255,.5);
	--topbar-shadowcolor:  rgba(0,0,0,.2);
	--warning-color: #CC8800;
	--modal-bg: #d5ddf5;
	--modal-fg: #000;
}