:root {
	--background-position: top right;
	--bar-bg: #d5983d;
	--bar-fg: #8f8f8f;
	--border-brightcolor: rgba(255,255,255,.4);
	--border-darkcolor: rgba(255,255,255,.25);
	--brand-logo: url(../graphics/openwrt-logo-light.svg);
	--button-edit-bg: #fc0;
	--button-edit-fg: #000;
	--button-neutral-bg: #0c6e9b;
	--button-neutral-fg: #fff;
	--button-positive-bg: #05a70a;
	--button-positive-fg: #000;
	--button-reset-bg: #e1820d;
	--button-reset-fg: #000;
	--button-important-bg: #df4c4c;
	--button-important-fg: #fff;
	--container-bgcolor: rgba(0,0,0,.5);
	--container-fg: #bbb;
	--content-shadowcolor: rgba(0,0,0,.5);
	--danger-bg: #CC1111;
	--danger-fg: #fff;
	--dropdown-default-bg: #fff;
	--dropdown-default-fg: #000;
	--dropdown-focus-bg: var(--button-neutral-bg);
	--dropdown-focus-fg: var(--button-neutral-fg);
	--dropdown-selected-bg: var(--button-positive-bg);
	--dropdown-selected-fg: var(--button-positive-fg);
	--header-bgcolor: #010c11;
	--header-fg: #fff;
	--main-bg: #021922;
	--main-fg: #fff;
	--menu-bg: #174152;
	--menu-fg: #dfdfdf;
	--menu-hover-fg: #4cf;
	--outline1: .1rem solid #4a4a4a;
	--outline2: .5rem solid #ccc;
	--section-bgcolor: rgba(22,52,120,.4);
	--success-color: #5CB85C;
	--table-head-bg: rgb(25 100 125 / 50%);
	--table-head-fg: #fff;
	--table-rows-bgcolor1: rgba(70,70,170,.5);
	--table-rows-bgcolor2: rgba(70,70,17,.5);
	--topbar-shadowcolor:  rgba(0,0,0,.25);
	--warning-color: #CC8800;
	--modal-bg: #093b4e;
	--modal-fg: #fff;
}